<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTFIT</title>

    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <link rel="stylesheet" href="../static/css/SF_main.css">
    <link rel="stylesheet" href="../static/css/SF_components.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>
<body>
<div class="reviews">
    <div class="reviews__inner wrapper">
        <h2 class="reviews__title center">
            <span class="underline small">Отзывы</span>
        </h2>
        <p class="_18 reviews__subtitle center">Вот что о нас говорят подопечные</p>
        <div class="reviews__box">
            <div class="wrapper">
                <div class='carousel reviews'>
                    <div class="carousel__inner  ">
                        <div class="carousel__swiper swiper-container programs-slider">
                            <div class="swiper-wrapper">
                                {% for i in list_feedback %}
                                    <div class="swiper-slide">
                                        <div class='review-slide'>
                                        <div class="review-slide__frame" style='
                                                background-image: url({{ i.image }})'>
                                        </div>
                                        <div class="review-slide__info">
                                            <p class="review-slide__name">{{ i.name }}</p>
                                            <p class="review-slide__text _16">{{ i.text }}</p>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="carousel__arrows">
                <div class='carousel__arrow-prev carouser__arrow reviews__prev '></div>
                <div class='carousel__arrow-next carouser__arrow reviews__next '></div>
                {#        <div class='carousel__arrow-prev carouser__arrow main-programs__prev absolute'></div>#}
                {#        <div class='carousel__arrow-next carouser__arrow main-programs__next absolute'></div>#}
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    var galleryTop = new Swiper('.programs-slider', {
        centeredSlides: false,
        loop: false,
        slidesPerView: "auto",
        spaceBetween: 40,
        navigation: {
            nextEl: `.main-programs__next`,
            prevEl: `.main-programs__prev`,
        },
    });
</script>
</html>