<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTFIT</title>

    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <link rel="stylesheet" href="../static/css/SF_main.css">
    <link rel="stylesheet" href="../static/css/SF_components.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>
<body>
<div class="wrapper">
    <div class='carousel main-trainers__slider'>
        <div class="carousel__inner  ">
            <div class="carousel__swiper swiper-container programs-slider">
                <div class="swiper-wrapper">
                    {% for i in list_trainers %}
                        <div class="swiper-slide">
                            <div class="trainer-slide">
                                <div class="trainer-slide__frame" style='background-image:url("{{ i.picture_src }}")'></div>
                                <div class="trainer-slide__info">
                                    <p class="trainer-slide__name">{{ name }}</p>
                                    <div class="trainer-slide__misc">
                                        <div class="trainer-slide__item">
                                            <img src="../static/images/videos.svg" alt="" class="trainer-slide__item-icon"/>
                                            {{ videos }}
                                        </div>
                                        <div class="trainer-slide__item">
                                            <img src="../static/images/apps.svg" alt="" class="trainer-slide__item-icon"/>
                                            {{ programs }}
                                        </div>
                                        <div class="trainer-slide__item">
                                            <img src="../static/images/user.svg" alt="" class="trainer-slide__item-icon"/>
                                            {{ people }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class='carousel__arrow-prev carouser__arrow main-programs__prev absolute'></div>
        <div class='carousel__arrow-next carouser__arrow main-programs__next absolute'></div>
        {#        <div class='carousel__arrow-prev carouser__arrow main-programs__prev absolute'></div>#}
        {#        <div class='carousel__arrow-next carouser__arrow main-programs__next absolute'></div>#}
    </div>
</div>
</body>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    var galleryTop = new Swiper('.programs-slider', {
        centeredSlides: false,
        loop: false,
        slidesPerView: "auto",
        spaceBetween: 40,
        navigation: {
            nextEl: `.main-programs__next`,
            prevEl: `.main-programs__prev`,
        },
    });
</script>
</html>