<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTFIT</title>

    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <link rel="stylesheet" href="../static/css/SF_main.css">
    <link rel="stylesheet" href="../static/css/SF_components.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>
<body>
    <footer class="footer">
      <div class="footer__main">
        <div class="wrapper footer__inner">
          <div class="footer__links">
            <a class="footer__link" href="">
              Тренеры
            </a>
            <a class="footer__link" href="">
              Сообщество
            </a>
            <a class="footer__link">Соглашение</a>
            <a class="footer__link" href="">
              Программы
            </a>
            <a class="footer__link" href="">
              Тарифы
            </a>
            <a class="footer__link">Обработка данных</a>
            <a class="footer__link" href="">
              Блог
            </a>
            <a class="footer__link">Тренерам</a>
            <a class="footer__link">Свяжитесь с нами</a>
            <a class="footer__link"></a>
          </div>
          <div class="footer__payment">
            <p class="footer__link n">Способы оплаты на сайте:</p>
            <div class="footer__payment-row">
              <img src="../static/images/payment/mir.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/visa.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/mc.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/maestro.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/alpha.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/pay-pal.svg" alt="" class="footer__payment-icon" />
            </div>
            <div class="footer__payment-row second">
              <img src="../static/images/payment/google.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/apple.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/tele2.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/yandex.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/mts.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/beeline.svg" alt="" class="footer__payment-icon" />
              <img src="../static/images/payment/qiwi.svg" alt="" class="footer__payment-icon" />
            </div>
          </div>
          <div class="footer__misc">
            <a class="footer__logo-link" href="/">
              <img src="../static/images/logo-gray.svg" class="footer__logo" >
            </a>
            <div class="footer__socials">
              <a href="" class="footer__social">
                <img src="../static/images/instagram.svg" alt="" class="footer__social-icon" />
              </a>
              <a href="" class="footer__social">
                <img src="../static/images/youtube.svg" alt="" class="footer__social-icon" />
              </a>
              <a href="" class="footer__social">
                <img src="../static/images/vk.svg" alt="" class="footer__social-icon" />
              </a>
              <a href="" class="footer__social">
                <img src="../static/images/telegram.svg" alt="" class="footer__social-icon" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__creds">© 2022 SMARTFIT. Все права защищены</div>
    </footer>
</body>
</html>