<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMARTFIT — Личный кабинет</title>

	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

	<link rel="stylesheet" href="../static/fonts/fonts.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="icon" href="../static/img/favicon.ico">

	<link rel="stylesheet" href="../static/css/media.css">
	</head>
<body>
	<div class="popup popup_vhod">
		<div>
			<img src="../static/img/plus.svg" alt="close" class="popup_closer">
			<h3>Вход в аккаунт</h3>
			<form action="">
				<div class="inputbox">
					<span>Ваша почта</span>
					<input type="email" placeholder="Адрес электронной почты">
				</div>
				<div class="inputbox">
					<span>Ваш пароль</span>
					<input type="password" placeholder="Пароль">
				</div>
				<button>Войти в аккаунт</button>
				<span>У вас нет аккаунта? <a href="#">Создать</a></span>
			</form>
		</div>
	</div>
	<div class="popup popup_podpiska">
		<div>
			<img src="../static/img/plus.svg" alt="close" class="popup_closer">
			<h3>Безлимит навсегда</h3>
			<form action="">
				<div class="inputbox">
					<span>Ваша почта</span>
					<input type="email" placeholder="Адрес электронной почты">
				</div>
				<div class="inputbox">
					<span>Ваш телефон</span>
					<input type="password" placeholder="+7 (___) ___-__-__">
				</div>
				<div class="inputbox promokod">
					<span>Промокод</span>
					<input type="password" placeholder="Промокод">
					<button>Ок</button>
				</div>
				<div class="clearfix">
					<div class="left">Стоимость:</div>
					<div class="right clearfix">
						<div class="left">2490 р.</div>
						<div class="left">2490 р.</div>
					</div>
				</div>
				<button>Оплатить</button>
			</form>
		</div>
	</div>
	<header>
		<div class="container_big">
			<div class="clearfix">
				<a href="/" class="logo left"><img src="../static/img/logo.svg" alt="logo"></a>
				<ul class="menu left clearfix">
					<li class="left"><a href="{% url 'trainers' %}">Тренеры</a></li>
					<li class="left"><a href="{% url 'programs' %}">Программы</a></li>
					<li class="left"><a href="{% url 'blog' %}">Блог</a></li>
					<li class="left"><a href="/">Сообщество</a></li>
				</ul>
				<button class="empty right popup_vhod_opener">Войти</button>
				<button class="right"><a href="trenirovatsya.html">Тренироваться</a></button>
			</div>
		</div>
	</header>
	<section class="lk">
		<div class="clearfix">
			<div class="sidebar left">
				<ul class="menu">
					<li class="clearfix"><img src="../static/img/person.svg" alt="profil" class="left"><a href="#" class="left">Профиль</a></li>
					<li class="clearfix"><img src="../static/img/settings.svg" alt="dannye" class="left"><a href="{% url 'personalinfo' %}" class="left">Данные</a></li>
					<li class="clearfix"><img src="../static/img/menu.svg" alt="programmy" class="left"><a href="#" class="left">Программы</a></li>
					<li class="clearfix"><img src="../static/img/timer.svg" alt="trenirovki" class="left"><a href="#" class="left">Тренировки</a></li>
					<li class="clearfix"><img src="../static/img/kubok.svg" alt="process" class="left"><a href="#" class="left">Прогресс</a></li>
					<li class="clearfix"><img src="../static/img/star.svg" alt="izbrannoe" class="left"><a href="#" class="left">Избранное</a></li>
					<li class="clearfix"><img src="../static/img/gramota.svg" alt="podpiska" class="left"><a href="#" class="left">Подписка</a></li>
					<li class="clearfix"><img src="../static/img/vhod.svg" alt="vyhod" class="left"><a href="#" class="left">Выход</a></li>
				</ul>
			</div>
			<div class="content left">
				<div class="name clearfix">
					<figure class="left">D</figure>
					<h1>Dima.vasiliev.98</h1>
					<span>Dima.vasiliev.98</span>
				</div>
				<div class="regalii clearfix">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
					<img src="../static/img/kubok-green.svg" alt="kubok" class="left">
				</div>
				<div class="clearfix">
					<div class="lenta left">
						<h2>Лента</h2>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
						<div class="clearfix">
							<figure class="left">D</figure>
							<div class="left">
								<div class="clearfix">
									<span class="name left">Dima.vasiliev.98</span>
									<span class="time left">2 месяца назад</span>
								</div>
								<p>Выполнил(а) тренировку "<a href="#">Пресс 2/30</a>" по программе "<a href="">Стальной пресс</a>"</p>
							</div>
						</div>
					</div>
					<div class="dostizheniya left">
						<h2>Мои достижения</h2>
						<div class="clearfix">
							<img src="../static/img/timer-green.svg" alt="timer" class="left">
							<div class="left">
								<span>0 дней</span>
								<span>На платформе</span>
							</div>
						</div>
						<div class="clearfix">
							<img src="../static/img/flash.svg" alt="flash" class="left">
							<div class="left">
								<span>0 часов</span>
								<span>Энергии потрачено</span>
							</div>
						</div>
						<div class="clearfix">
							<img src="../static/img/check-green.svg" alt="check" class="left">
							<div class="left">
								<span>0 занятий</span>
								<span>Выполнено</span>
							</div>
						</div>
						<div class="clearfix">
							<img src="../static/img/fire-green.svg" alt="fire" class="left">
							<div class="left">
								<span>0 ккал</span>
								<span>Сожжено калорий</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container_big">
			<div class="clearfix">
				<div class="left">
					<ul class="left">
						<li><a href="trenery.html">Тренеры</a></li>
						<li><a href="programmy.html">Программы</a></li>
						<li><a href="blog.html">Блог</a></li>
					</ul>
					<ul class="left">
						<li><a href="#">Сообщество</a></li>
						<li><a href="#">Тарифы</a></li>
						<li><a href="#">Тренерам</a></li>
					</ul>
					<ul class="left">
						<li><a href="#">Соглашение</a></li>
						<li><a href="#">Обработка данных</a></li>
						<li><a href="#">Свяжитесь с нами</a></li>
					</ul>
				</div>
				<div class="payment left">
					<h4>Способы оплаты на сайте:</h4>
					<div class="clearfix">
						<img src="../static/img/mir.svg" alt="mir" class="left">
						<img src="../static/img/visa.svg" alt="visa" class="left">
						<img src="../static/img/mc.svg" alt="mc" class="left">
						<img src="../static/img/maestro.svg" alt="maestro" class="left">
						<img src="../static/img/alpha.svg" alt="alpha" class="left">
						<img src="../static/img/pay-pal.svg" alt="pay-pal" class="left">
						<img src="../static/img/google-pay.svg" alt="google-pay" class="left">
						<img src="../static/img/apple-pay.svg" alt="apple-pay" class="left">
						<img src="../static/img/tele2.svg" alt="tele2" class="left">
						<img src="../static/img/yandex.svg" alt="yandex" class="left">
						<img src="../static/img/mts.svg" alt="mts" class="left">
						<img src="../static/img/qiwi.svg" alt="qiwi" class="left">
					</div>
				</div>
				<div class="right">
					<a href="/" class="logo"><img src="../static/img/logo-white.svg" alt="logo-white"></a>
					<div class="clearfix">
						<a href="#" class="instagram left"><img src="../static/img/instagram.svg" alt="instagram"></a>
						<a href="#" class="youtube left"><img src="../static/img/youtube.svg" alt="youtube"></a>
						<a href="#" class="vk left"><img src="../static/img/vk.svg" alt="vk"></a>
						<a href="#" class="telegram left"><img src="../static/img/telegram.svg" alt="telegram"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="allrights clearfix">
			<span>© 2022 SMARTFIT. Все права защищены</span>
		</div>
	</footer>


	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script type="text/javascript" src="../static/js/jquery.fancybox.min.js"></script>
	<script src="../static/js/jquery.inputmask.bundle.js" type="text/javascript"></script>
	<script>
		$(function($){
			//$(".phone").mask("+7 (999) 999-99-99");
			$(".phone").inputmask({"mask": "+7 (999) 999-99-99"});
		});
	</script>

	<!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
    	var rvws_sldr = new Swiper(".rvws_sldr", {
			spaceBetween: 40,
			slidesPerView: 3,
		});
    </script>

    <script>
		$(".fancybox").fancybox();   
    </script>		
</body>
</html>