@media screen and (max-width: 1330px) {
  section.lk > .clearfix .sidebar {
    width: 200px; }
  section.lk > .clearfix .content {
    width: -webkit-calc(100% - 306px);
    width: calc(100% - 306px);
    margin-left: 185px; }
  section.lk > .clearfix .sidebar ul.menu {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    margin-left: 30px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta {
    width: 60%; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya {
    width: 30%;
    margin-left: 10%; }
  section.lk_programmy .programmy_content,
  section.lk_progress .progress_content,
  section.lk_podpiska .podpiska_content {
    width: -webkit-calc(100% - 276px);
    width: calc(100% - 276px);
    margin-left: 185px; }
  section.lk_progress .progress_content > .left:last-child {
    width: 565px; }
  section.lk_progress .progress_content > .left:last-child .photos {
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px); } }

@media screen and (max-width: 1240px) {
  .container,
  .container_big,
  section.lk {
    width: -webkit-calc(860px - 80px);
    width: calc(860px - 80px);
    padding: 0 40px;
    margin: 0 auto; }
  header .logo {
    width: 160px; }
  header .menu {
    margin-top: 33px;
    margin-left: 30px; }
  header .menu li a {
    font-size: 13px; }
  header .menu li + li {
    margin-left: 20px; }
  header button {
    font-size: 12px;
    padding: 8px 18px; }
  header button + button {
    margin-right: 10px; }
  section.main .content {
    width: 410px; }
  section.main .content > span {
    font-size: 24px;
    padding-top: 65px; }
  section.main .content h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px; }
  section.main .image {
    width: 320px;
    margin-top: 55px; }
  section.main .content h1 + ul li + li {
    margin-top: 13px; }
  section.why .container h2 {
    font-size: 36px;
    text-align: center; }
  section.why {
    padding-bottom: 50px; }
    section.why .container .clearfix .left {
      width: 230px;
      margin-bottom: 40px; }
  section.banner .container {
    padding-bottom: 50px;
    overflow: hidden; }
    section.banner .container h2 {
      padding-top: 33px;
      margin-left: 20px;
      line-height: 1.2;
      font-size: 32px; }
  section.banner .container span {
    margin-left: 20px; }
  section.banner .container span + .clearfix {
    margin-left: 20px; }
  section.banner .container > img {
    right: -112px; }
  section.blog h2 + span + .clearfix > .left {
    width: 240px; }
    section.blog h2 + span + .clearfix > .left a .preview img {
      width: 100%;
      height: auto; }
    section.blog h2 + span + .clearfix > .left a h3 {
      margin-left: 20px;
      margin-bottom: 10px; }
  section.blog h2 + span + .clearfix > .left a {
    padding-bottom: 20px; }
    section.blog h2 + span + .clearfix > .left a h3 + .clearfix {
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px);
      margin-left: 20px; }
      section.blog h2 + span + .clearfix > .left a h3 + .clearfix .timing {
        font-size: 14px; }
      section.blog h2 + span + .clearfix > .left a h3 + .clearfix .likes {
        float: left;
        margin-top: 20px; }
        section.blog h2 + span + .clearfix > .left a h3 + .clearfix .likes img {
          width: 14px; }
        section.blog h2 + span + .clearfix > .left a h3 + .clearfix .likes span {
          font-size: 14px;
          line-height: 13px;
          margin-left: 5px; }
  section.result .image {
    width: 377px; }
  section.result .image + .left {
    width: 370px;
    margin-left: 30px; }
  section.result .image + .left h2 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 20px; }
  section.team h2 + span + .clearfix > .left {
    width: 232px; }
  section.specially .container h2 {
    width: 400px;
    margin-left: 30px; }
  section.specially .container h2 + span {
    width: 307px;
    margin-left: 30px; }
  section.specially .container button {
    margin-left: 30px; }
  section.specially .container .image {
    width: 300px;
    right: 47px;
    bottom: 57px; }
  section.reviews h2 {
    font-size: 32px; }
  section.reviews h2 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.faq h2 {
    font-size: 32px; }
  footer ul li a {
    font-size: 14px; }
  footer ul {
    margin-right: 30px; }
  footer .payment {
    margin-left: 69px; }
  footer .right {
    width: 100%;
    float: left; }
    footer .right .logo {
      float: left; }
    footer .right .logo + .clearfix {
      float: right; }
  section.trenery_main h1 {
    font-size: 32px; }
  section.trenery_main h1 + span {
    font-size: 16px;
    margin-bottom: 40px; }
  section.po_napravleniyam h2 {
    font-size: 32px;
    margin-bottom: 30px; }
  section.po_napravleniyam ul.menu {
    margin-bottom: 25px; }
  section.po_napravleniyam.po_napravleniyam_trenery ul.menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  section.po_napravleniyam.po_napravleniyam_trenery ul.menu li {
    margin: 0 4px 9px; }
  section.po_napravleniyam .napravlenie > .clearfix > .left {
    width: 241px;
    margin-right: 30px;
    margin-bottom: 30px; }
  section.programmy_main h1 {
    font-size: 32px; }
  section.trenirovatsya_main .container h1 {
    width: 100%;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px; }
  section.trenirovatsya_main .container > span {
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px; }
  section.trenirovatsya_main .container > .clearfix > .left {
    width: 239px;
    margin-right: 30px; }
  section.trenirovatsya_main .container > .clearfix > .left > span {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    font-size: 16px;
    margin-bottom: 11px;
    margin-left: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left h3 {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    font-size: 18px;
    margin-left: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left ul {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-left: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left ul li {
    font-size: 16px;
    line-height: 1.2; }
  section.trenirovatsya_main .container > .clearfix > .left ul li + li {
    margin-top: 10px; }
  section.trenirovatsya_main .container > .clearfix > .left .prices .left {
    margin-left: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left .prices span {
    font-size: 21px; }
  section.trenirovatsya_main .container > .clearfix > .left ul {
    margin-bottom: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left button {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-bottom: 25px; }
  section.lk > .clearfix .content .regalii img {
    width: 40px;
    margin-right: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta {
    width: 100%;
    float: none; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix figure + .left {
    width: 399px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix > div .clearfix {
    margin-bottom: 11px; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya {
    width: 100%;
    margin-left: 0;
    margin-top: 40px; }
  .lk.lk_dannye .dannye_content,
  section.lk_programmy .programmy_content,
  section.lk_progress .progress_content,
  section.lk_podpiska .podpiska_content {
    width: 525px;
    margin-left: 200px;
    padding-left: 53px; }
  .lk.lk_dannye .dannye_content form > .clearfix:last-child button {
    float: left; }
  .lk.lk_dannye .dannye_content form > .clearfix:last-child button.empty {
    margin-left: 20px; }
  section.lk_programmy .programmy_content > .clearfix {
    width: -webkit-calc(100% - 37px);
    width: calc(100% - 37px); }
  section.lk_programmy .programmy_content > .clearfix > .left {
    width: 100%;
    margin-bottom: 20px; }
  section.lk_progress .progress_content > .left:first-child {
    width: 515px; }
  section.lk_progress .progress_content > .left:first-child .parambox {
    margin-bottom: 15px; }
  section.lk_progress .progress_content > .left:first-child h2 {
    margin-bottom: 20px; }
  section.lk_progress .progress_content > .left:first-child {
    margin-bottom: 30px; }
  section.lk_progress .progress_content > .left:last-child {
    width: 525px; }
  section.lk_progress .progress_content > .left:last-child ul.menu li {
    font-size: 14px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left {
    width: 240px; }
  section.lk_podpiska .podpiska_content > .clearfix:first-child {
    margin-bottom: 30px; }
  section.lk_podpiska .podpiska_content h2 {
    font-size: 16px; }
  section.lk_podpiska .podpiska_content table tr:first-child td, section.lk_podpiska .podpiska_content tbody tr:first-child td {
    font-size: 13px; }
  section.lk_podpiska .podpiska_content table tr td, section.lk_podpiska .podpiska_content tbody tr td {
    font-size: 13px;
    padding: 22px 0; } }

@media screen and (max-width: 860px) {
  .container,
  .container_big,
  section.lk {
    width: -webkit-calc(640px - 80px);
    width: calc(640px - 80px); }
  header .menu {
    display: none; }
  header .menu_mob {
    display: block; }
  section.main .content {
    width: 385px;
    padding-top: 297px;
    float: none;
    margin: 0 auto; }
    section.main .content span,
    section.main .content h1 {
      text-align: center; }
    section.main .content button {
      margin: 0 auto; }
  section.main .image {
    width: 260px;
    position: absolute;
    left: 50%;
    top: 100px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-top: 0;
    margin: 0; }
  section.main .content h1 + ul {
    margin-bottom: 27px; }
  section.programs h2 {
    width: 543px;
    font-size: 32px;
    line-height: 1.2; }
  section.programs h2 + span {
    font-size: 16px; }
  section.why .container h2 {
    font-size: 31px; }
  section.why .container .clearfix .left {
    width: 255px; }
    section.why .container .clearfix .left:nth-child(4) {
      margin-bottom: 59px; }
  section.why .container .clearfix .left figure {
    width: 80px;
    height: 80px; }
  section.why .container .clearfix .left figure img {
    width: 35px; }
  section.banner .container h2 {
    font-size: 28px;
    margin-left: 0; }
  section.banner .container span {
    margin-left: 0;
    margin-bottom: 30px; }
  section.banner .container span + .clearfix {
    margin-left: 0; }
  section.banner .container > img {
    right: -250px; }
  section.blog h2 + span + .clearfix > .left {
    width: 265px; }
  section.blog h2 {
    font-size: 32px; }
  section.blog h2 + span {
    font-size: 16px;
    margin-bottom: 40px; }
  section.blog h2 + span + .clearfix {
    margin-bottom: 30px; }
  section.result .image {
    width: 100%;
    margin-bottom: 40px; }
  section.result .image + .left {
    width: 100%;
    margin-left: 0;
    text-align: center; }
  section.result .image + .left h2 {
    text-align: center; }
  section.team h2 {
    font-size: 32px; }
  section.team h2 + span + .clearfix > .left {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px; }
  section.team h2 + span {
    font-size: 16px;
    margin-bottom: 35px; }
  section.specially .container {
    height: 770px; }
  section.specially .container .image {
    right: auto;
    bottom: auto;
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  section.specially .container .content {
    width: 355px;
    padding-top: 350px;
    float: none;
    margin: 0 auto;
    text-align: center; }
    section.specially .container .content span + .clearfix {
      width: 356px;
      margin: 0 auto; }
  section.specially .container h2 {
    width: 100%;
    margin-left: 0;
    font-size: 32px; }
  section.specially .container h2 + span {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px; }
  section.specially .container button {
    margin-left: 0; }
  footer .container,
  footer .container_big {
    width: 401px; }
    footer .container > .clearfix > .left:first-child,
    footer .container_big > .clearfix > .left:first-child {
      width: 100%; }
  footer .payment {
    width: 311px;
    margin-left: 0;
    margin: 0 auto;
    padding-top: 144px;
    float: none; }
  footer .payment h4 {
    font-size: 14px;
    margin-bottom: 15px; }
  footer .right {
    padding-top: 28px; }
  footer .right .logo {
    width: 177px; }
  footer .right .logo + .clearfix .left + .left {
    margin-left: 17px; }
  section.po_napravleniyam .napravlenie > .clearfix > .left {
    width: 270px; }
  section.po_napravleniyam ul.menu li {
    font-size: 12px; }
  section.blog_main .container h1 {
    font-size: 32px;
    line-height: 1.2; }
  section.blog_main .container h1 + span {
    font-size: 16px;
    margin-bottom: 30px; }
  section.blog_main .container > .clearfix > .left {
    width: 265px; }
  section.blog_main .container > .clearfix > .left a h3 {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-left: 20px; }
  section.blog_main .container > .clearfix > .left a h3 + .clearfix {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-left: 20px; }
  section.blog_main .container > .clearfix > .left a h3 + .clearfix {
    font-size: 14px; }
    section.blog_main .container > .clearfix > .left a h3 + .clearfix .likes {
      float: left;
      margin-top: 20px; }
  section.trenirovatsya_main .container > .clearfix > .left {
    width: 186px;
    margin-right: 10px; }
  section.trenirovatsya_main .container > span {
    font-size: 14px; }
  section.trenirovatsya_main .container > .clearfix > .left > span {
    font-size: 14px; }
  section.trenirovatsya_main .container > .clearfix > .left h3 {
    font-size: 16px;
    margin-bottom: 15px; }
  section.trenirovatsya_main .container > .clearfix > .left ul li {
    font-size: 14px; }
  section.trenirovatsya_main .container > .clearfix > .left .prices span {
    font-size: 16px;
    margin-bottom: 15px; }
  section.trenirovatsya_main .container > .clearfix > .left button {
    padding: 12px 0;
    font-size: 12px; }
  section.lk > .clearfix .sidebar ul.menu li a {
    font-size: 14px; }
  section.lk > .clearfix .sidebar ul.menu li + li {
    margin-top: 17px; }
  section.lk > .clearfix .sidebar ul.menu li:last-child:before {
    margin-bottom: 17px; }
  section.lk > .clearfix .sidebar ul.menu {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    margin-left: 25px; }
  section.lk > .clearfix .content {
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    padding-left: 55px;
    padding-top: 40px; }
  section.lk > .clearfix .content > .name figure {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px; }
  section.lk > .clearfix .content .regalii img {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 10px; }
  section.lk > .clearfix .content .regalii {
    margin-bottom: 22px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta h2 {
    font-size: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta h2 {
    margin-bottom: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix figure {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix figure + .left {
    width: 265px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix + .clearfix {
    margin-top: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya h2 {
    font-size: 20px;
    margin-bottom: 20px; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya .clearfix img + .left span:first-child {
    font-size: 16px; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya .clearfix img + .left span:last-child {
    font-size: 14px; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya .clearfix {
    margin-bottom: 20px; }
  .lk.lk_dannye .dannye_content,
  section.lk_programmy .programmy_content,
  section.lk_progress .progress_content,
  section.lk_podpiska .podpiska_content {
    width: 310px;
    padding-left: 43px;
    padding-top: 45px; }
  .lk.lk_dannye .dannye_content h1 {
    font-size: 20px;
    margin-bottom: 15px; }
  .lk.lk_dannye .dannye_content form figure {
    width: 70px;
    height: 70px; }
  .lk.lk_dannye .dannye_content form figure img {
    width: 30px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .filebox {
    margin-right: 5px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .filebox button {
    font-size: 12px;
    padding: 6px 13px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .files_deteler {
    padding: 9px 16px;
    font-size: 10px; }
  .lk.lk_dannye .dannye_content form figure + .left p {
    width: 225px;
    font-size: 12px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .inputbox,
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox {
    width: 100%;
    margin-bottom: 8px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .inputbox span,
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox span {
    font-size: 12px;
    margin-bottom: 2px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox span {
    margin-bottom: 6px; }
  .lk.lk_dannye .dannye_content form > .clearfix:first-child {
    margin-bottom: 14px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio {
    margin-right: 10px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio button {
    font-size: 11px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio input[type="radio"]:checked + button {
    padding: 12px 15px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio button {
    padding: 10px 13px; }
  .lk.lk_dannye .dannye_content form > .clearfix:last-child {
    width: 100%;
    margin-right: 0; }
  .lk.lk_dannye .dannye_content form > .clearfix:last-child button {
    width: 100%;
    padding: 15px 0;
    font-size: 12px; }
  .lk.lk_dannye .dannye_content form > .clearfix:last-child button.empty {
    margin-left: 0;
    margin-top: 5px; }
  section.lk_programmy .programmy_content > .clearfix > .left {
    height: auto; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview {
    width: 70px;
    height: 70px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview span {
    font-size: 9px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left {
    width: 185px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left h3 {
    font-size: 16px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left h3 + span {
    margin-bottom: 8px; }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px); }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left {
    width: 125px;
    margin-bottom: 8px; }
    section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left img[alt="trenirovka"] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left .trenirovka {
    height: auto;
    margin-bottom: 2px; }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left .trenirovka span {
    bottom: 3px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options figure {
    width: 4px;
    height: 4px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options figure:before,
  section.lk_programmy .programmy_content > .clearfix > .left .options figure:after {
    width: 4px;
    height: 4px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options figure:before {
    left: -7px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options figure:after {
    right: -7px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options ul li {
    font-size: 12px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options ul {
    width: 93px; }
  section.lk_progress .progress_content > .left:first-child h2,
  section.lk_progress .progress_content > .left:last-child h2 {
    font-size: 20px;
    margin-bottom: 20px; }
  section.lk_progress .progress_content > .left:first-child {
    width: 315px; }
  section.lk_progress .progress_content > .left:first-child .parambox form input + button {
    font-size: 12px;
    padding: 11px 20px; }
  section.lk_progress .progress_content > .left:first-child .parambox form span {
    font-size: 14px;
    margin-bottom: 4px; }
  section.lk_progress .progress_content > .left:last-child {
    width: 325px; }
  section.lk_progress .progress_content > .left:last-child ul.menu li {
    padding: 10px 20px;
    margin-right: 5px; }
  section.lk_progress .progress_content > .left:last-child ul.menu li.active {
    padding: 12px 22px; }
  section.lk_progress .progress_content > .left:last-child h2 + span {
    font-size: 14px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left span {
    font-size: 14px; }
  section.lk_progress .progress_content > .left:last-child .photos {
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px); }
  section.lk_progress .progress_content > .left:last-child .photos > .left {
    margin-right: 10px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left {
    width: 157px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left .photobox .filebox figure {
    height: 213px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left .photobox .filebox figure img {
    width: 73px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left .photobox .filebox button {
    font-size: 12px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left .photobox .filebox button {
    padding: 14px;
    margin-top: 10px; }
  section.lk_podpiska .podpiska_content > .clearfix:first-child h1 {
    font-size: 20px; }
  section.lk_podpiska .podpiska_content > .clearfix:first-child span.status {
    font-size: 12px;
    padding: 6px 16px; }
  section.lk_podpiska .podpiska_content h2 {
    font-size: 14px;
    margin-bottom: 15px; }
  section.lk_podpiska .podpiska_content h2 + .clearfix img {
    width: 40px; }
  section.lk_podpiska .podpiska_content h2 + .clearfix img + span {
    font-size: 14px;
    margin-right: 50px; }
  section.lk_podpiska .podpiska_content h2 + .clearfix h4 {
    margin-left: 0;
    margin-top: 7px; }
  section.lk_podpiska .podpiska_content h2 + .clearfix .date {
    font-size: 14px;
    margin-top: 8px;
    margin-right: 70px; }
  section.lk_podpiska .podpiska_content h2 + .clearfix .payment_method_deleter {
    margin-left: 12px;
    margin-top: 7px; }
  section.lk_podpiska .podpiska_content table {
    width: 100%;
    overflow: scroll;
    display: block; }
  section.lk_podpiska .podpiska_content tbody {
    width: 500px;
    display: block; } }

@media screen and (max-width: 640px) {
  .popup > div {
    width: 280px;
    padding-bottom: 35px; }
  .popup > div h3 {
    font-size: 20px;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 15px; }
  .popup > div > .popup_closer {
    right: 24px;
    top: 19px; }
  .popup > div form {
    width: 220px;
    margin-left: 30px; }
  .popup > div form .inputbox {
    margin-bottom: 10px; }
    .popup > div form .inputbox span {
      font-size: 14px;
      margin-bottom: 2px; }
  .popup .inputbox input {
    font-size: 14px; }
  .popup > div form > button {
    margin-top: 10px; }
  .popup > div form > button + span {
    width: 220px;
    font-size: 14px; }
  .popup_exit > div {
    padding-top: 35px; }
  .popup_exit > div img[alt="attention"] {
    width: 150px; }
  .popup_exit > div h3 {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px; }
  .popup_exit > div span {
    font-size: 14px;
    margin-bottom: 15px; }
  .popup_exit > div .clearfix button.popup_closer {
    margin-left: 10px; }
  .popup_exit > div .clearfix button {
    font-size: 12px;
    padding: 11px 25px; }
  .popup_podpiska > div {
    padding-bottom: 20px; }
  .popup_podpiska .promokod + .clearfix > .left {
    font-size: 14px; }
  .popup_podpiska .promokod + .clearfix .right {
    float: left; }
  .popup_podpiska .promokod + .clearfix .right .left:first-child {
    font-size: 16px; }
  .popup_podpiska .promokod + .clearfix .right .left {
    font-size: 16px; }
  .popup_podpiska .promokod + .clearfix > .left {
    margin-right: 25px;
    margin-bottom: 5px; }
  .popup_podpiska .promokod + .clearfix .right .left:first-child {
    margin-right: 10px; }
  .popup_smenit_parol > div {
    padding-bottom: 20px; }
  .container,
  .container_big,
  section.lk {
    width: -webkit-calc(320px - 40px);
    width: calc(320px - 40px);
    padding: 0 20px; }
  header {
    height: auto;
    padding-bottom: 25px; }
    header .container .clearfix {
      width: 250px;
      margin: 0 auto; }
      header .container .clearfix button {
        margin-top: 10px; }
      header .container .clearfix button.empty {
        margin-right: 5px;
        padding: 7px 17px; }
  header .menu_mob {
    margin-bottom: 7px; }
  section.main {
    padding-bottom: 70px; }
  section.main .image {
    width: 177px;
    top: 143px; }
    section.main .image img {
      width: 100%; }
  section.main .content {
    width: 280px;
    padding-top: 195px; }
  section.main .content > span {
    font-size: 18px;
    margin-bottom: 13px; }
  section.main .content h1 {
    font-size: 24px;
    margin-bottom: 20px; }
  section.main .content h1 + ul li {
    font-size: 14px;
    line-height: 1.2; }
    section.main .content h1 + ul li:before {
      width: 17px;
      height: 17px;
      left: -26px; }
  section.main .content h1 + ul li + li {
    margin-top: 11px; }
  section.main .content button {
    font-size: 12px; }
  section.programs h2 {
    width: 100%;
    font-size: 24px; }
  section.programs h2 + span {
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px; }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: #fff;
    -webkit-background-size: 19px 19px;
            background-size: 19px;
    -webkit-border-radius: 360px;
            border-radius: 360px;
    background-position: center;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
  .swiper-container .swiper-button-next {
    right: -25px; }
  .swiper-container .swiper-button-prev {
    left: -25px; }
  section.why .container h2 {
    font-size: 24px;
    margin-bottom: 36px; }
  section.why .container .clearfix {
    width: 100%; }
    section.why .container .clearfix .left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px !important; }
      section.why .container .clearfix .left figure {
        width: 50px;
        height: 50px;
        margin: 0 auto 13px; }
        section.why .container .clearfix .left figure img {
          width: 20px; }
      section.why .container .clearfix .left h3 {
        font-size: 16px;
        text-align: center; }
      section.why .container .clearfix .left p {
        font-size: 14px;
        text-align: center; }
  section.banner .container {
    padding-bottom: 35px; }
    section.banner .container h2 {
      width: 220px;
      font-size: 24px;
      margin-left: 15px;
      margin-bottom: 10px; }
  section.banner .container span {
    width: 233px;
    margin-left: 15px;
    font-size: 14px; }
  section.banner .container span + .clearfix {
    margin-left: 15px; }
    section.banner .container span + .clearfix .left {
      width: 105px; }
      section.banner .container span + .clearfix .left:nth-child(2) {
        width: 117px; }
      section.banner .container span + .clearfix .left img {
        width: 100%; }
  section.banner .container > img {
    right: -338px;
    top: -74px; }
  section.blog h2 {
    width: 100%;
    font-size: 24px; }
  section.blog h2 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.blog h2 + span + .clearfix > .left {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
  section.blog h2 + span + .clearfix > .left a h3 {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px); }
  section.blog h2 + span + .clearfix > .left a h3 + .clearfix .timing {
    margin-right: 20px; }
  section.blog h2 + span + .clearfix {
    margin-bottom: 10px; }
  section.blog button {
    font-size: 14px; }
    section.blog button a {
      padding: 22px 56px; }
  section.result .image {
    margin-bottom: 20px; }
    section.result .image button {
      font-size: 14px; }
  section.result .image + .left h2 {
    font-size: 24px; }
  section.result .image + .left p {
    font-size: 14px; }
  section.team h2 {
    font-size: 24px; }
  section.team h2 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.specially .container {
    height: 670px; }
  section.specially .container .image {
    width: 227px;
    top: 20px; }
  section.specially .container .content {
    width: 100%;
    padding-top: 250px; }
  section.specially .container h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  section.specially .container h2 + span {
    font-size: 14px; }
  section.specially .container .content span + .clearfix {
    width: 165px; }
    section.specially .container .content span + .clearfix button {
      font-size: 12px;
      margin-bottom: 10px; }
  section.specially .container button.empty {
    margin-left: 0; }
  section.specially .container .content span + .clearfix button {
    width: 100%; }
  section.reviews h2 {
    font-size: 24px; }
  section.reviews .rvws_sldr .swiper-slide .preview {
    margin-bottom: 20px; }
  section.reviews .rvws_sldr .swiper-slide p {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    font-size: 14px;
    margin: 0 auto 20px; }
  section.faq h2 {
    font-size: 24px;
    line-height: 1.2; }
  section.faq h2 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.faq ul li {
    padding: 25px 0; }
  section.faq ul li h4 {
    font-size: 16px; }
  section.faq ul li:after {
    width: 20px;
    height: 20px;
    top: 23px; }
  section.faq ul li.active p {
    font-size: 14px; }
  section.faq ul li p {
    margin-top: 20px; }
  footer {
    padding-top: 40px; }
  footer .container,
  footer .container_big {
    width: 100%;
    padding: 0; }
  footer .container > .clearfix > .left:first-child,
  footer .container_big > .clearfix > .left:first-child {
    width: 137px;
    margin: 0 auto;
    float: none; }
  footer ul {
    margin-right: 0;
    padding-top: 14px; }
  footer .payment {
    width: 180px;
    padding-top: 300px; }
  footer .payment img[alt="maestro"],
  footer .payment img[alt="alpha"] {
    margin-top: 4px; }
  footer .payment img[alt="pay-pal"] {
    margin-top: 5px; }
  footer .payment img[alt="google-pay"],
  footer .payment img[alt="apple-pay"] {
    margin-top: 3px; }
  footer .payment img[alt="tele2"] {
    margin-top: 4px; }
  footer .payment img[alt="mts"] {
    margin-top: 15px; }
  footer .payment img[alt="qiwi"] {
    margin-top: -18px; }
  footer .right {
    width: 175px;
    margin: 0 auto;
    float: none; }
  footer .allrights span {
    width: 70%;
    font-size: 14px;
    margin: 0 auto; }
  section.trenery_main {
    padding-top: 50px; }
  section.trenery_main h1 {
    font-size: 24px;
    margin-bottom: 15px; }
  section.trenery_main h1 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.po_napravleniyam h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  section.po_napravleniyam ul.menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  section.po_napravleniyam.po_napravleniyam_trenery ul.menu li,
  section.po_napravleniyam ul.menu li {
    margin: 0 4px 6px; }
  section.po_napravleniyam .napravlenie {
    width: 100%; }
  section.po_napravleniyam .napravlenie > .clearfix > .left {
    width: 100%;
    margin-right: 0; }
  section.po_napravleniyam button {
    font-size: 12px; }
  section.programmy_main h1 {
    font-size: 24px; }
  section.programmy_main h1 + span {
    font-size: 14px;
    margin-bottom: 30px; }
  section.programmy_main h1 + span + h3 {
    font-size: 20px; }
  section.programmy_main ul.menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 20px; }
    section.programmy_main ul.menu li {
      font-size: 14px;
      padding: 10px 17px;
      margin: 0 5px 5px 5px; }
    section.programmy_main ul.menu li + li {
      margin-left: 0; }
  section.blog_main {
    padding-top: 50px; }
  section.blog_main .container h1 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 15px; }
  section.blog_main .container h1 + span {
    width: 100%;
    font-size: 14px; }
  section.blog_main .container > .clearfix {
    width: 100%;
    margin-bottom: 0; }
  section.blog_main .container > .clearfix > .left {
    width: 100%;
    margin-right: 0; }
  section.blog_main .container > .clearfix > .left a h3 + .clearfix .likes {
    float: right;
    margin-top: 0; }
  section.blog_main .container button {
    font-size: 12px; }
  section.trenirovatsya_main {
    padding-top: 50px; }
  section.trenirovatsya_main .container h1 {
    font-size: 24px; }
  section.trenirovatsya_main .container > .clearfix {
    width: 100%; }
  section.trenirovatsya_main .container > .clearfix > .left > span,
  section.trenirovatsya_main .container > .clearfix > .left h3 {
    text-align: center; }
  section.trenirovatsya_main .container > .clearfix > .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center; }
    section.trenirovatsya_main .container > .clearfix > .left .prices {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      section.trenirovatsya_main .container > .clearfix > .left .prices span + span {
        margin-left: 15px; }
  header.lk_header {
    padding-top: 30px; }
  header.lk_header .container_big > .clearfix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header.lk_header .logo,
  header.lk_header .menu_mob,
  header.lk_header .menu_mob + .right {
    float: none;
    margin: 0;
    display: inline-block; }
  header.lk_header .menu_mob {
    width: 65px;
    margin-top: 10px; }
  header.lk_header .menu_mob + .right {
    padding-top: 5px; }
  header .menu_mob .menu_mob-ul {
    width: 133px; }
  section.lk > .clearfix {
    position: static; }
  section.lk > .clearfix .sidebar {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 155px;
    padding-bottom: 25px; }
  section.lk > .clearfix .content {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-top: 330px; }
  section.lk > .clearfix .content > .name {
    margin-bottom: 15px; }
  section.lk > .clearfix .content > .name figure {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-right: 15px; }
  section.lk > .clearfix .content > .name h1 {
    font-size: 16px;
    padding-top: 7px; }
  section.lk > .clearfix .content > .name span {
    font-size: 14px; }
  section.lk > .clearfix .content .regalii {
    width: 100%; }
  section.lk > .clearfix .content .regalii:before {
    margin-bottom: 15px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta h2 {
    text-align: center; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix figure + .left {
    width: 223px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix > div .clearfix {
    margin-bottom: 8px; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix > div .clearfix span.time {
    margin-left: 0;
    margin-top: 2px;
    float: none;
    display: block; }
  section.lk > .clearfix .content .regalii + .clearfix .lenta > .clearfix > div .clearfix span.name {
    float: none;
    display: block; }
  section.lk > .clearfix .content .regalii + .clearfix .dostizheniya h2 {
    text-align: center; }
  .lk.lk_dannye .dannye_content,
  section.lk_programmy .programmy_content,
  section.lk_progress .progress_content,
  section.lk_podpiska .podpiska_content {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-top: 330px; }
  .lk.lk_dannye .dannye_content form figure {
    width: 60px;
    height: 60px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix {
    margin-bottom: 10px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .filebox button {
    font-size: 10px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .files_deteler {
    padding: 7px 12px; }
  .lk.lk_dannye .dannye_content form figure + .left .clearfix .filebox button {
    padding: 5px 10px; }
  .lk.lk_dannye .dannye_content form figure + .left p {
    width: 200px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio {
    margin-right: 5px; }
  .lk.lk_dannye .dannye_content form > .clearfix + .clearfix .lvlbox .radio button {
    font-size: 10px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left {
    width: 155px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options {
    right: 26px;
    top: 10px; }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix {
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px); }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left {
    margin-right: 10px; }
  section.lk_programmy .programmy_content > .clearfix > .left .progressbar + .clearfix > .left {
    width: 115px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left h3 {
    font-size: 15px; }
  section.lk_programmy .programmy_content > .clearfix > .left .options + .clearfix .preview + .left h3 + span {
    font-size: 13px; }
  section.lk_progress .progress_content > .left:first-child h2, section.lk_progress .progress_content > .left:last-child h2 {
    text-align: center;
    margin-bottom: 15px; }
  section.lk_progress .progress_content > .left:first-child {
    width: 100%; }
  section.lk_progress .progress_content > .left:first-child .parambox.not_filled form input {
    font-size: 14px; }
  section.lk_progress .progress_content > .left:last-child {
    width: 100%; }
  section.lk_progress .progress_content > .left:last-child ul.menu li {
    padding: 10px 17px;
    font-size: 12px; }
  section.lk_progress .progress_content > .left:last-child ul.menu li.active {
    padding: 12px 18px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left {
    width: 135px; }
  section.lk_progress .progress_content > .left:last-child .photos > .left .photobox .filebox figure {
    height: 182px; } }
